::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(173, 173, 173);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

body {
  background-color: #141414 !important;
  color: #ffffff !important;
}

#nprogress .bar {
  z-index: 1110 !important;
}
